@font-face {
    font-family: "Computer Modern";
    src: local('Computer Modern'), url(../fonts/cmunrm.ttf) format('truetype');
}

body {
    font-family: "Computer Modern", sans-serif;
    font-size: 16px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}